body {
  background: #eee;
  font-family: sans-serif;
  
}

.card {
  display: block;
  width: 400px;
  background: #fff;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  margin: 8px 8px;
}

.content {
  display: inline-block;
  background: #e3f4ff;
  margin: 8px 8px;
  padding: 16px 8px;
}

.button-container {  
  display: block;
  text-align: center;
  background: #e3f4ff;
  margin: 8px 8px;
  padding: 8px;
 
}

button {
  display: block;
  margin: auto 20px;
  background: white;
  border: 1px solid #eee;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}